* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/furniture-gfd892fb0d_1920.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  scroll-behavior: smooth;
}

.navbar {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 70px;
  cursor: pointer;
  border-radius: 10px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background: #71afcc;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  height: 100vh;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

.content.show {
  opacity: 0;
  pointer-events: none;
}

.content h1 {
  font-size: 70px;
  margin-top: 10px;
  color: rgb(218, 235, 66);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.content h3 {
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  color: white;
}

.login_button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold;
  border: 2px solid black;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login_button:hover {
  background-color: #5e99b4;
}

.close {
  color: black;
  text-shadow: 1px 1px 2px rgb(20, 2, 2);
}

.close:hover {
  cursor: pointer;
}

.banner {
  box-shadow: 0px 0px 15px #000000ad;
}

.userLogin {
  padding: 5px;
  text-align: left;
  border: 2px solid black;
}

.passLogin {
  padding: 5px;
  text-align: left;
  border: 2px solid black;
}

.container {
  color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

.container.show {
  pointer-events: auto;
  opacity: 1;
}

.app {
  text-align: center;

  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  padding: 25px;
  color: rgb(0, 0, 0);
  background-color: rgb(123, 175, 127);
}

.app h1 {
  color: rgb(7, 7, 7);
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.app p {
  margin-bottom: 10px;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.about {
  box-shadow: 0px 0px 15px #000000ad;
  color: white;
  height: 100vh;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.about h1 {
  font-size: 70px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.contact {
  box-shadow: 0px 0px 15px #49d5eead;
  color: white;
  height: 100vh;
}

.contact h1 {
  font-size: 70px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.team {
  box-shadow: 0px 0px 15px #000000ad;
  color: white;
  height: 100vh;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.team h1 {
  font-size: 70px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.footer {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  height: 5vh;
}

.footer p {
  padding: 20px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}
.fa-twitter {
  background: #55acee;
  color: white;
  text-decoration: none;
  font-size: 50px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.scrolltop {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

a {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-decoration: none;
}

img {
  box-shadow: 5px 3px 3px rgb(14, 13, 13);
}
